.comment-container {
  min-width: 40rem;
  margin-top: -30px;
  border-left: 1px solid black;
  padding-left: 30px;
  padding-right: 10px;
  /* margin-right: 40px; */
  min-height: 85rem;
  overflow: scroll;
  background-color: #f1f3f5;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  align-self: stretch;
}

.comment-details {
  font-size: 1.4rem;
  margin: 0;
  margin-top: 10px;
}
.add-comment {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.add-comment button {
  margin: 0;
  font-size: 1.2rem;
}
.reply-form input {
  margin-top: 5px;
}

.parent-comment {
  padding: 5px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: white;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.reply {
  border-bottom: 1px solid black;
}
.replies input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.comment-content {
  word-break: break-all;
  white-space: normal;
}

@media screen and (max-width: 1383px) {
  .comment-container {
    margin-top: 5rem;
    margin-left: 2rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 12px;
    flex: 1;
    flex-basis: 60rem;
  }
}
